AntiqueAuctions/web/WEB-INF/wsdl/localhost_8080/CalculatorWS/AuctionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://auction.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://auction.me.org/" name="CalculatorWS">
<types>
<xsd:schema>
<xsd:import namespace="http://auction.me.org/" schemaLocation="http://localhost:8080/CalculatorWS/AuctionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="SecretQuestion">
<part name="parameters" element="tns:SecretQuestion"/>
</message>
<message name="SecretQuestionResponse">
<part name="parameters" element="tns:SecretQuestionResponse"/>
</message>
<message name="passwordChange">
<part name="parameters" element="tns:passwordChange"/>
</message>
<message name="passwordChangeResponse">
<part name="parameters" element="tns:passwordChangeResponse"/>
</message>
<message name="fetchProducts">
<part name="parameters" element="tns:fetchProducts"/>
</message>
<message name="fetchProductsResponse">
<part name="parameters" element="tns:fetchProductsResponse"/>
</message>
<message name="bidMade">
<part name="parameters" element="tns:bidMade"/>
</message>
<message name="bidMadeResponse">
<part name="parameters" element="tns:bidMadeResponse"/>
</message>
<message name="productDetails">
<part name="parameters" element="tns:productDetails"/>
</message>
<message name="productDetailsResponse">
<part name="parameters" element="tns:productDetailsResponse"/>
</message>
<message name="product">
<part name="parameters" element="tns:product"/>
</message>
<message name="productResponse">
<part name="parameters" element="tns:productResponse"/>
</message>
<message name="insertUser">
<part name="parameters" element="tns:insertUser"/>
</message>
<message name="insertUserResponse">
<part name="parameters" element="tns:insertUserResponse"/>
</message>
<portType name="AuctionWS">
<operation name="updateUser">
<input wsam:Action="http://auction.me.org/AuctionWS/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://auction.me.org/AuctionWS/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://auction.me.org/AuctionWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://auction.me.org/AuctionWS/loginResponse" message="tns:loginResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://auction.me.org/AuctionWS/login/Fault/IOException"/>
</operation>
<operation name="SecretQuestion">
<input wsam:Action="http://auction.me.org/AuctionWS/SecretQuestionRequest" message="tns:SecretQuestion"/>
<output wsam:Action="http://auction.me.org/AuctionWS/SecretQuestionResponse" message="tns:SecretQuestionResponse"/>
</operation>
<operation name="passwordChange">
<input wsam:Action="http://auction.me.org/AuctionWS/passwordChangeRequest" message="tns:passwordChange"/>
<output wsam:Action="http://auction.me.org/AuctionWS/passwordChangeResponse" message="tns:passwordChangeResponse"/>
</operation>
<operation name="fetchProducts">
<input wsam:Action="http://auction.me.org/AuctionWS/fetchProductsRequest" message="tns:fetchProducts"/>
<output wsam:Action="http://auction.me.org/AuctionWS/fetchProductsResponse" message="tns:fetchProductsResponse"/>
</operation>
<operation name="bidMade">
<input wsam:Action="http://auction.me.org/AuctionWS/bidMadeRequest" message="tns:bidMade"/>
<output wsam:Action="http://auction.me.org/AuctionWS/bidMadeResponse" message="tns:bidMadeResponse"/>
</operation>
<operation name="productDetails">
<input wsam:Action="http://auction.me.org/AuctionWS/productDetailsRequest" message="tns:productDetails"/>
<output wsam:Action="http://auction.me.org/AuctionWS/productDetailsResponse" message="tns:productDetailsResponse"/>
</operation>
<operation name="product">
<input wsam:Action="http://auction.me.org/AuctionWS/productRequest" message="tns:product"/>
<output wsam:Action="http://auction.me.org/AuctionWS/productResponse" message="tns:productResponse"/>
</operation>
<operation name="insertUser">
<input wsam:Action="http://auction.me.org/AuctionWS/insertUserRequest" message="tns:insertUser"/>
<output wsam:Action="http://auction.me.org/AuctionWS/insertUserResponse" message="tns:insertUserResponse"/>
</operation>
</portType>
<binding name="AuctionWSPortBinding" type="tns:AuctionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="SecretQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="passwordChange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fetchProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bidMade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="productDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="product">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorWS">
<port name="AuctionWSPort" binding="tns:AuctionWSPortBinding">
<soap:address location="http://localhost:8080/CalculatorWS/AuctionWS"/>
</port>
</service>
</definitions>